<!DOCTYPE html>
<html>
  <head>
    <title>Blog | symponent.js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="menu-container" class="menu-container"></div>
    <div class="content">
        <div id="posts-container"></div>
    </div>

     <!-- SCRIPTS START -->
     <script src="/javascripts/src/symponent.js"></script>
     <!-- <script src="https://cdn.jsdelivr.net/gh/muendiz/symponent@latest/src/symponent.min.js"></script> -->
 
     <script src="/javascripts/common/helper.js"></script>
     <script src="/javascripts/static-datas/menu.js"></script>
     <script src="/javascripts/static-datas/posts.js"></script>
     <script src="/javascripts/sym-components/menu.js"></script>
     <script src="/javascripts/sym-components/posts.js"></script>
 
     <script src="/javascripts/pages/index.js"></script>
     <!-- SCRIPTS END -->
  </body>
</html>
